@import 'variables.scss';

body {
    margin: 0;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.app-header {
    grid-area: header;
    background-color: $white;
    color: $white;
    text-align: center;
    padding: 1rem;
}

.app-footer {
    grid-area: footer;
    color: $black;
    border-top: 1px $off-black solid;
    text-align: center;
    padding: 1rem;
}

.main {
    grid-area: main;
    background-color: $light-gray;
    padding: 2rem;
    min-height: 600px;
}
